# Copyright (c) 2023 Synopsys.
#
# SPDX-License-Identifier: Apache-2.0

config SAMPLE_DO_OUTPUT
	bool "Do print from the main thread which can be checked"

# Pull in the TSC2007 Kconfig (not yet wired in upstream Zephyr)
rsource "$(ZEPHYR_BASE)/drivers/input/Kconfig.tsc2007"

source "Kconfig.zephyr"
